<section id="warehouses">
  <h2> Warehouses </h2>
    <div>
      <%= link_to('New Warehouse', new_warehouse_path) %>
    </div>
    
    <% @warehouses.each do |w| %>
      <div>
        <h3><%= link_to(w.name, warehouse_path(w.id)) %></h3>
        <dl>
          <dt>Code:</dt>
          <dd><%= w.code %></dd>
          <dt>City:</dt>
          <dd><%= w.city %></dd>
          <dt>Area:</dt>
          <dd><%= w.area %> m²</dd>          
        </dl>
      </div>
    <% end %>

  <% if @warehouses.empty? %>
    <span>There is no registered warehouses</span>
  <% end %>
</section>