<h1>Supplier info</h1>

<%= link_to 'Edit', edit_supplier_path(@supplier.id)%>

<%= @supplier.corporate_name %>
<%= @supplier.brand_name %>
<%= @supplier.registration_number %>
<%= @supplier.full_address %>
<%= @supplier.city %>
<%= @supplier.state %>
<%= @supplier.email %>