<h1><%= @warehouse.code %> Warehouse</h1>

<%= link_to('Back', root_path) %>
<%= link_to('Edit', edit_warehouse_path(@warehouse.id)) %>
<%= button_to('Delete', warehouse_path(@warehouse.id), method: :delete) %>

<h2> Information </h2>
<%= @warehouse.name %>
<span>City: <%= @warehouse.city %></span>
<span>Area: <%= @warehouse.area %> m²</span>
<span>Address: <%= @warehouse.address %> Zip Code: <%= @warehouse.zipcode %></span>
<span><%= @warehouse.description %></span>