<!DOCTYPE html>
<html>
  <head>
    <title>Warehouse App - Learning with Campus Code</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1>Warehouses & Stock</h1>
    </header>
    <main>
      <div>
        <%= notice %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
